.comment-box-0 {
    border-image: none;
    background-image: none;
    background-color: #00D;
    border: 3px solid #00D;
}
.comment-box-1 {
    border-image: none;
    background-image: none;
    background-color: #0C0;
    border: 3px solid #0C0;
}
.comment-box-2 {
    border-image: none;
    background-image: none;
    background-color: #B00;
    border: 3px solid #B00;
}
